@font-face{
	font-family: "Times new roman";
	src: url(fonts/ofont.ru_Times\ New\ Roman.ttf);
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: "Arial";
	src: url(fonts/arial.ttf);
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: "ArialBold";
	src: url(fonts/arial_bold.ttf);
	font-weight: bold;
	font-display: swap;
}

*{
	list-style: none;
	transition: 0.3s;
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	cursor: pointer;
}

.nav-list--mobile{
	height: 0;
}

.nav-list__item--mobile{
	padding: 25px;
	border: #222;
}

.header{
	position: relative;
	min-height: 100vh;
	max-height: 742px;
	background: url(img/header_bg.jpg) no-repeat center top;
	background-size: cover;
	font-family: "Arial", sans-serif;
	color: white;
}

.tint{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	background-color: #000;
	opacity: .5;
	z-index: 0;
}

.content-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding-top: 50px;
}

.nav{
	position: absolute;
	top: 50px;
	left: 50%; transform: translate(-50%, 0px);
	z-index: 20;
	display: flex;
	align-items: center;
	width: 80%;
	justify-content: space-between;
	margin: 0 auto;
}

.nav-list{
	display: flex;
	align-items: center;
	
}

.nav-list__item{
	text-align: center;
	padding: 0 21px;
}

.nav-list__item a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.nav-list__item a:hover, .nav-list__item--mobile a:hover{
	color: #fed136;
}

.nav-list__toggler{
	display: none;
	flex-direction: column;
	justify-content: space-between;
}

.burger-line{
	width: 35px;
	height: 4px;
	background-color: #fff;
	border-radius: 3px;
}

.burger-line:nth-child(2){
	margin: 7px 0;
}

.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main__subtitle{
	font-size: 40px;
	letter-spacing: -1px;
}

.main__title{
	font-size: 75px;
	letter-spacing: -1.88px;
	text-transform: uppercase;
	margin: 50px 0 60px 0;
}

.btn{
	width: 240px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color: #fed136;
	border-radius: 1px;
	font-family: "ArialBold", sans-serif;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #484543;
}

.main__btn:active{
	transition: 0.1s;
	background-color: #cb9c01;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 120px 0 110px 0;
}

.services{
	background-color: #fff;
}

.section__title{
	font-size: 40px;
	font-family: "ArialBold", sans-serif;
	text-transform: uppercase;
	margin-bottom: 15px;
	text-align: center;
}

.section__title + p{
	color: #777777;
	font-size: 16px;
	font-family: "Times new roman";
}

.services-list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 30px;
	margin: 0 auto;
	margin-top: 80px;
	width: 90%;
}

.services-list__item{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.service-icon{
	width: 68px;
	height: 68px;
	border: 3px solid #fed136;
	border-radius: 50%;
	margin-bottom: 27px;
}

.service-icon__img{
	width: 100%;
	height: 100%;
}

.services-list__item:nth-child(1) .service-icon__img{
	background: url(img/Icon-Basket.png) no-repeat center center;
}

.services-list__item:nth-child(2) .service-icon__img{
	background: url(img/Icon-Laptop.png) no-repeat center center;
}

.services-list__item:nth-child(3) .service-icon__img{
	background: url(img/Icon-Locked.png) no-repeat center center;
}

.list__title{
	font-size: 18px;
	letter-spacing: -0.45px;
	font-family: "ArialBold", sans-serif;
	margin-bottom: 15px;
}

.list__title + p{
	color: #777;
}

.portfolio{
	background-color: #f7f7f7;
}

.achivments-list{
	margin-top: 75px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 35px;
	grid-column-gap: 50px;
}

.achivment{
	display: flex;
	flex-direction: column;
}

.achivment picture{
	height: 300px;
}

.achivment__description{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 93px;
	background-color: #fff;
}

.achivment__description .list__title{
	margin-bottom: 5px;
}

.road{
	width: 67%;
	margin-top: 85px;
}

.road__description{
	display: flex;
  flex-wrap: wrap;
  align-items: center;
	position: relative;
	text-align: right;
}

.road__description--text-right{
	justify-content: flex-end;
	text-align: left;
}

.road__description span{
	max-width: 290px;
}

.road__img{
	display: flex;
	justify-content: center;
	align-content: center;
	width: 176px;
  height: 176px;
  position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
	border: 7px solid #f1f1f1;
	border-radius: 50%;
	text-align: center;
}

.road__img .list__title{
	display: flex;
	justify-content: center;
	align-items: center;	
	margin: 0;
	color: white;
	text-transform: uppercase;
	letter-spacing: -0.45px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

.grey-line{
	margin: 0 auto;
	width: 3px;
	height: 94px;
	background-color: #f1f1f1;
}

.road__description--last{
	height: 127px;
}

.road__description:nth-child(1) .road__img{
	background: url(img/road__1.jpg) center center no-repeat;
}
.road__description:nth-child(3) .road__img{
	background: url(img/road__2.jpg) center center no-repeat;
}
.road__description:nth-child(5) .road__img{
	background: url(img/road__3.jpg) center center no-repeat;
}
.road__description:nth-child(7) .road__img{
	background: url(img/road__4.jpg) center center no-repeat;
}
.road__description--last .road__img{
	background-color: #fed136;
}

.team{
	background-color: #f9f9f9;
}

.team-list{
	display: grid;
	grid-template-columns: repeat(3, 235px);
	grid-template-rows: 345px;
	grid-column-gap: 60px;
	margin: 0 auto;
	margin-top: 85px;
	margin-bottom: 51px;
}

.team-list__member{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo{
	width: 220px;
	height: 220px;
	border-radius: 50%;
	background-color: #000;
	margin-bottom: 25px;
}

.member__social{
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 15px;
}

.member__social a{
	width: 40px;
	height: 40px;
	border: 3px solid #222222;
	border-radius: 50%;
}
.member__social a:hover{
	border: 3px solid #0000b3;
}

.twitter{
	background: url(img/Twitter.png) center center no-repeat;
}

.facebook{
	background: url(img/Facebook.png) center center no-repeat;
}

.gmail{
	background: url(img/Google+.png) center center no-repeat;
}

.team_p{
	width: 40%;
	text-align: center;
	color: #777;
}

.CMS{
	padding: 67px 10px;
}

.CMS__list{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
}

.CMS__list img{
	margin: 0 auto;
}

.Contact{
	color: white;
	background: #222 url(img/Map_Image.png) no-repeat 65vw 10vh;
}

.contact__form{
	margin: 75px 0 30px 0;
	width: 80%;
}

.form__grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
	grid-template-rows: 50px 50px 50px;
	grid-row-gap: 30px;
	grid-template-areas: 
            "i t"
            "i1 t"
            "i2 t";
}

input, textarea{
	font-family: "ArialBold", sans-serif;
	padding: 10px 10px;
}

input:nth-child(1){
	grid-area: i;
}

input:nth-child(2){
	grid-area: i1;
}

input:nth-child(3){
	grid-area: i2;
}

textarea{
	grid-area: t;
}

.form__btn{
	margin-top: 30px;
}

.footer{
	padding: 20px 0 20px 10%;
	display: flex;
	align-items: center;
}

.footer__span{
	color: #555555;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	letter-spacing: -0.35px;
	line-height: 22px;
}

@media (max-width: 1200px){
	.road{
		width: 100%;
	}
	.road__description{
		width: 90%;
		margin: 0 auto;
	}
}

@media (max-width: 1015px){
	.achivments-list{
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 915px){
	.main__title{
		font-size: 60px;
		margin: 25px 0 30px 0;
	}

	.main__subtitle{
		font-size: 25px;
	}
}

@media (max-width: 870px){
	.road{
		width: calc(176px + 290px + 50px);
		margin: 0 auto;
		margin-top: 50px;
	}
	.road__description{
		justify-content: flex-end;
		text-align: left;
	}
	.road__img{
		left: 15%;
	}
	.grey-line{
		margin-left: 14.006%;
	}

	.team-list{
		grid-template-columns: 1fr;
		grid-row-gap: 50px;
	}

	.CMS__list{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 50px;
	}
}

@media (max-width: 690px){
	.nav-list__toggler{
		display: flex;
	}
	.nav-list__item{
		display: none;
	}
	.nav-list--mobile{
		width: 100%;
		background-color: #666;
		display: flex;
		flex-direction: column;
	}
	.nav-list__item--mobile{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50px;
		border: 1px solid rgba(0, 0, 0, 0.4);
	}
	.nav-list__item--mobile a{
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;
		font-family: "Arial", sans-serif;
		
	}
	.main__title{
		font-size: 45px;
	}
	.main__subtitle{
		font-size: 20px;
	}
	.services-list{
		grid-template-columns: 1fr;
		grid-row-gap: 50px;
	}
	.achivments-list{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 520px){
	.road{
		width: 100%;
	}
	.main__title{
		font-size: 35px;
	}
	.road__img{
		display: none;
	}
	.grey-line{
		display: none;
	}
	.road__description{
		width: 100%;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
	}
	.road__description--last{
		display: none;
	}
}

@media (max-width: 420px){
	.CMS__list{
		grid-template-columns: 1fr;
	}
	.main__title{
		font-size: 26px;
		margin: 20px 0;
	}
	.form__grid{
		grid-template-areas: "i i"
												 "i1 i1"
												 "i2 i2"
												 "t t"
												 "t t";
	}
	.form__btn{
		width: 100%;
	}
}