/*Reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
}

li,
ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    transition: all .3s;
}

img {
    display: block;
}

button {
    border: none;
    transition: all .3s;
}

/*Mobile version*/
/*Mobile-menu*/
.nav-mobile-menu {
    background-color: #81B3D2;
    font-family: "PT Sans-bold";
}

.nav-mobile-menu-item {
    height: 55px;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.nav-mobile-menu-item_link:hover {
    background-color: #669ec0;
}

.nav-mobile-menu-item_link:active {
    background-color: #5496bd;
}

.nav-mobile-menu-item_link:active .nav-mobile-menu-item_link_content {
    opacity: .3;
}

.nav-mobile-menu-item_link {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-mobile-menu-item_link_content {
    font-size: 18px;
    color: #fff;
}

/*Desktop-menu*/
.desktop-navigation {
    height: 56px;
    z-index: 10;
}

.nav-desktop-menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.nav-desktop-menu-item {
    width: 20%;
    height: 100%;
    display: none;
}

.nav-desktop-menu-item--logo {
    flex-grow: 1;
    height: 100%;
    z-index: 10;
}

.nav-desktop-menu-item_link {
    width: 100%;
    height: 100%;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-desktop-menu-item_link:hover {
    color: #81b3d2;
}

.nav-desktop-menu-item_link:active {
    color: #000;
    opacity: .3;
}

/*Logotype*/
.logo {
    background: url(img/logotyle-mobile.svg) center 0 no-repeat;
    width: 102px;
    height: 83px;
    margin: 0 auto;
    z-index: 10;
}

/*Intro*/
.Intro-main {
    padding-top: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(img/back-mobile.webp);
    background-position: center 0;
    background-repeat: no-repeat;
    z-index: 5;
    clip-path: polygon(100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
}

.Intro-main_text {
    background: url(img/text-index.svg) center 0 no-repeat;
    width: 282px;
    height: 214px;
    margin-bottom: 85px;
}

.Intro_title {
    padding-bottom: 40px;

}

.Intro_description {
    color: #333333;
}

.Intro_text-area {
    padding: 45px 0 35px 0;
}

/*Text area*/
.text-area {
    line-height: 26px;
}

.text-area_title {
    font-family: "PT Sans-bold";
    font-size: 21px;
}

.text-area_counter {
    margin: 20px 0;
}

.text-area_description {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    max-width: 80%;
}

.text-area_description--white {
    color: white;
}

.text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 260px;
}

@media screen and (min-width: 768px) {
    .nav-mobile-menu {
        display: none;
    }

    .Intro_text-area {
        padding: 51px 0 55px 0;
    }

    .Intro-main {
        background-image: url(img/back-desktop.webp);
        background-size: cover;
        clip-path: polygon(100% 0, 100% 94%, 95% 95%, 95% 90%, 50% 100%, 5% 90%, 5% 95%, 0 94%, 0 0);
        padding-top: 77px;
    }

    .Intro-main_text {
        background: url(img/text-index-table.svg) center 0 no-repeat;
        width: 460px;
        height: 350px;
    }

    .nav-desktop-menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: "PT Sans-bold";
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        width: 188px;
        height: 96px;
        background: url(img/logotype-desktop.svg) no-repeat;
    }

    .Intro_text-area {
        padding: 55px 55px;
    }

    .Intro-main {
        clip-path: polygon(100% 0, 100% 92%, 85% 95%, 85% 90%, 50% 100%, 15% 90%, 15% 95%, 0 92%, 0 0);
    }
}

/*Fonts*/
@font-face {
    font-family: 'PT Sans';
    src: url(../fonts/PTSans-Regular.woff) format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans-bold';
    src: url(../fonts/PTSans-Bold.woff) format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

/*Images*/
.sedona_image {
    height: 260px;
}

.town-image {
    background: url(../img/photo-city@1x.webp) center center no-repeat;
    background-size: cover;
}

.bridge-image {
    background: url(../img/photo-bridge@1x.webp) center center no-repeat;
    background-size: cover;
}

/*First article*/
.First_article_text-area {
    padding: 61px 28px 45px 28px;
    clip-path: polygon(50% 8%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.text_area--blue {
    background-color: #81b3d2;
    color: white;
}

/*List*/
.First_article-list {
    display: flex;
    flex-direction: column;
    padding: 26px 0 42px 18px;
}

.First_article-list_list-item {
    display: flex;
    max-width: 82%;
}

.second-list-item {
    margin: 22px 0 28px 0;
}

.list-item_img {
    align-self: flex-start;
    margin-right: 13px;
    width: 40px;
    height: 40px;
}

.list-item_text_description {
    max-width: 80%;
}

.list-item_title--first {
    margin-top: 9px;
    margin-bottom: 25px;
}

.list-item_title--second {
    margin-top: 12px;
    margin-bottom: 25px;
}

.list-item_title--therd {
    margin-top: 10px;
    margin-bottom: 25px;
}

/*Second arcticle*/
.Second_article_text-area {
    padding: 30px 43px 0 30px;
}

.Second_article_text-area--main {
    padding-bottom: 42px;
    padding-top: 45px;
}

.Second_article_text-area--last {
    padding-bottom: 30px;
}

.Second_arcticle-list {
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.grey-line {
    width: 280px;
    height: 1px;
    background-color: black;
    opacity: 0.1;
    margin-top: 32px;
}

.Interested {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.Interested-text-area {
    padding: 40px 30px;
}

.Interested-text-area_text-area_title {
    margin-bottom: 30px;
}

/*Search hotel button*/
.search-hotel-button {
    background-color: #81b3d2;
    font-weight: 700;
    padding: 17px 47px;
}

.search-hotel-button_title {
    color: white;
    font-size: 21px;
}

.search-hotel-button:hover {
    background-color: #669ec0;
}

.search-hotel-button:active {
    background-color: #5496bd;
}

.search-hotel-button:active .search-hotel-button_title {
    opacity: 0.3;
}

/*Map*/
.map {
    width: 100%;
}

/*Footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 41px 0 23px 0;
}

/*Social buttons*/
.social-btns {
    display: flex;
    margin: 41px 0 51px 0;
}

.social-btns_btn {
    width: 46px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #81b3d2;
}

.social-btns_btn--second {
    margin: 0 6px;
}

.social-btns_btn:hover {
    background-color: #669ec0;
}

.social-btns_btn:active {
    background-color: #5496bd;
}

.social-btns_btn:active .social-icon {
    opacity: .3;
}

.developed-by {
    display: flex;
    align-items: center;
}

.developed-by_title {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-right: 11px;
}

.academy_icon {
    width: 27px;
    height: 34px;
    background-image: url(../img/htmlacademy.svg);
}

.academy_icon:hover {
    background-image: url(../img/htmlacademy_hover.png);
}

.academy_icon:active {
    background-image: url(../img/htmlacademy.svg);
    opacity: .3;
}

/*Media*/
/*Tablet*/
@media screen and (min-width: 768px) {
    .town-section {
        display: flex;
    }

    .bridge-section {
        display: flex;
    }

    .First_article_text-area {
        padding: 46px 47px;
        width: 34%;
        clip-path: none;
    }

    .Second_article_text-area--main {
        padding: 50px;
        width: 34%;
        order: 2;
    }

    .town-image {
        width: 66%;
    }

    .bridge-image {
        width: 66%;
    }

    .First_article-list {
        justify-content: space-around;
        flex-direction: row;
        padding: 60px 0 66px 0;
    }

    .Second_arcticle-list {
        flex-direction: row;
    }

    .second-list-item {
        margin: 0;
    }

    .First_article-list_list-item {
        flex-direction: column;
        justify-content: center;
        width: 33.34%;
    }

    .Second_arcticle-list_list-item {
        width: 33.34%;
    }

    .list-item_img {
        margin: 0;
        align-self: center;
        width: 77px;
        height: 75px;
    }

    .list-item_text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grey-line {
        display: none;
    }

    .search-hotel-button {
        padding: 17px 136px;
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 36px 60px;
    }

    .social-btns {
        margin: 0;
    }

    .Interested {
        padding-bottom: 58px;
    }
}

/*Desktop*/
@media screen and (min-width: 1200px) {
    .town-image {
        background: url(../img/photo-city@2x.webp) center center no-repeat;
        background-size: cover;
    }

    .bridge-image {
        background: url(../img/photo-bridge@2x.webp) center center no-repeat;
        background-size: cover;
    }

    .Second_article_text-area {
        padding: 58px 0 70px 0;
    }

    .Interested {
        padding-bottom: 66px;
    }

    .Interested-text-area {
        padding: 57px 0 52px 0;
    }

    .footer {
        padding: 36px 120px;
    }
}