* {
    list-style: none;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 10px 7px;
    max-width: 167px;
}

.form-list__item {
    margin: 5px 0;
}

.form__sumbit {
    border: 1px solid #383838;
    border-radius: 2px;
    padding: 6px 8px;
    margin-top: 10px;
    background-color: #32b855;
}

.form-alert {
    display: none;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}