body {
    font-family: 'Anton', sans-serif;
}

.header {
    display: flex;
    /*Дабы растянуть контейнер на всю высоту хедера*/
    min-height: 100vh;
    color: white;
    background: no-repeat center top/cover url(../img/header-bg.jpg);
    transition: 0.2s linear;
}

.container {
    position: relative;
    flex-grow: 1;
    /*Дабы растянуть контейнер на всю ширину хедера*/
    margin: 57px 3%;
}

.nav {
    display: flex;
}

.nav img {
    transition: 0.2s linear;
}

.nav img:hover {
    transform: scale(1.2);
}

.nav-list {
    position: relative;
    display: flex;
    align-items: center;
}

.nav__nav-list {
    flex-grow: 1;
    margin-left: 30px;
}

.nav-list__item {
    margin: 0 40px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    transition: 0.4s cubic-bezier(0, 0, .27, 1.25);
}

.nav-list__item a {
    color: white;
}

.nav-list__item--number {
    margin: 0;
    margin-left: auto;
    font-size: 17px;
}

.nav-list__item--underline {
    position: absolute;
    left: 39px;
    bottom: 10px;
    height: 2px;
    width: 39px;
    background-color: #fff;
    margin: 0;
}

.nav-list__item:nth-child(2):hover~.nav-list__item--underline {
    width: 42px;
    left: 158px;
}

.nav-list__item:nth-child(3):hover~.nav-list__item--underline {
    width: 54px;
    left: 281px;
}

.nav-list__item:nth-child(4):hover~.nav-list__item--underline {
    width: 67px;
    left: 416px;
}

.offer {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.offer__subtitle {
    font-size: 30px;
    line-height: 44px;
}

.offer__title {
    font-size: 100px;
    line-height: 147px;
}

.offer__btn {
    margin-top: 20px;
    padding: 18px 50px;
    cursor: pointer;
    letter-spacing: 0.15em;
    color: white;
    font-size: 17px;
    line-height: 25px;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    background: none;
    transition: 0.2s linear;
}

.offer__btn:hover {
    color: black;
    border: 1px solid black;
    background-color: #fff;
}

.article {
    padding-top: 30px;
}

.article__title {
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 73px;
    text-transform: uppercase;
}

.footer__design-info {
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 20px;
}

.article__sections-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-row-gap: 100px;
    grid-column-gap: 60px;
}

.article-section {
    width: 567px;
}

.article-section:last-child {
    margin-left: 51px;
}

.article-section__title {
    font-size: 25px;
    line-height: 37px;
    text-transform: uppercase;
}

.article-section__text {
    margin-top: 20px;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
}

.gallery__img:nth-child(2) {
    margin-left: 30px;
}

.gallery__img:nth-child(3) {
    margin-left: 50px;
}

@media screen and (max-width: 1281px) {
    .article__sections-wrapper {
        grid-template-columns: auto;
        grid-template-areas: "section1" "galery-half" "section2" "img";
    }
    .article-section:first-child {
        grid-area: section1;
    }
    .galery-half {
        grid-area: galery-half;
    }
    .article-section:last-child {
        grid-area: section2;
    }
    .gallery__img--last {
        grid-area: img;
    }
    .article__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 815px) {
    .nav-list {
        position: absolute;
        top: -162px;
        left: 0;
        width: 100%;
        flex-direction: column;
        margin: 0;
    }
    .nav-list__item--number {
        margin: 0;
    }
    .nav-list__item--underline {
        display: none;
    }
}