/*All*/
body{
    display: flex;
    background: #F5F9FF;

    color: #11142D;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


/*Navigation*/
.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    background-color: hsl(213, 98%, 49%);
}

.navigation__logo{
    margin: 69px 0;
}

.navigation__list-item{
    margin-bottom: 75px;
}

.navigation__list-item:last-child{
    margin: 0;
}

.navigation__link img{
    transition: opacity 0.2s;
}

.navigation__link:hover img{
    opacity: 0.8;
}

.navigation__link:focus{
    outline: white solid 1px;
}

.exit-btn{
    padding: 17px;
    margin: auto 0;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;

    transition: opacity 0.2s;
}

.exit-btn:hover{
    background-color: hsl(211, 98%, 52%);
}


/*Main*/
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 100px 100px 100px;
}

    /*Header*/
    .header{
        display: flex;
        margin-bottom: 60px;
        
        font-weight: 500;
    }
    
    .header__start, .header__end{
        display: flex;
    }

    .header__end{
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        margin-left: 215px;
    }


    h1{
        font-weight: 600;
        font-size: 50px;
        line-height: 75px;
        letter-spacing: -1.13533px;
    }

    /*Dropup*/
    .dropup {
        position: relative;
        display: inline-block;

        margin-left: 40px;
        margin-top: 29px; /*Задание фактически ложного, но визуально верного центра*/
    }

    /* Dropup Button */   
    .dropup__btn::after{
        content: "";
        display: inline-block;
        width: 8px;
        height: 12px;
        margin-left: 10px;
        
        background-color: #000;
        clip-path: polygon(52% 90%, 0 30%, 100% 30%);
    }

    .dropup__btn {
        font-size: 16px;
    }

    /* Dropup content (Hidden by Default) */
    .dropup-content {
        display: none;
        position: absolute;
        top: 25px;

        min-width: 160px;
        
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropup-content__item{
        width: 100%;
        padding: 9px 22px;

        background-color: #fcfcfc;

        text-align: left;
    }

    .dropup-content li:nth-child(2) .dropup-content__item{
        border-top: 1px solid rgba(151, 151, 151, 0.308);
        border-bottom: 1px solid  rgba(151, 151, 151, 0.308);
    }
    
    /* Change color of dropup items on hover */
    .dropup-content__item:hover {
        background-color: rgb(233, 233, 233)
    }
    
    /* Show the dropup menu on hover */
    .dropup:hover .dropup-content{
        display: block;
    }

    .search-btn{
        display: flex;
        align-items: center;
        margin-bottom: -7px; /*Дотягиваем до дизайнерского "центра"*/
    }

    .search-btn img{
        margin-right: 20px;
    }

    .search-btn span, .search-btn img, .community-icons__icon{
        transition: opacity 0.2s;
    }

    .search-btn:hover img, .search-btn:hover span, .community-icons__icon:hover{
        opacity: 0.7;
    }

    .community-icons{
        display: flex;
        margin-bottom: -7px; /*Дотягиваем до дизайнерского "центра"*/
    }

    .community-icons__icon:first-child{
        margin-right: 85px;
    }

/*Content*/ 
.content{
    display: flex;
    flex-grow: 1;
}

/*Content-block*/
.content-block{
    border-radius: 27.2478px;
    background-color: #fff;
}

/*Left content section*/
    /*Profile cutaway*/
    .profile{  
        max-width: 527px;
        padding: 60px;
    }

    .profile__cutaway{
        display: flex;
    }

    .cutaway__text-info{
        margin-right: 65px;
    }

    .profile__name{
        display: block;
        margin-bottom: 5px;
        
        font-weight: 500;
        font-size: 26.1125px;
        line-height: 41px;
    }

    .profile__gmail{
        font-weight: 400;
        font-size: 15.8946px;
        line-height: 23px;
    }

    .profile__img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .profile__data{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: normal;
        font-size: 12.4886px;
        line-height: 23px;
    }

    /*Profile description*/
    .profile__description{
        margin-top: 40px;
        font-size: 14px;
    }

    /*Profile chart*/
    .profile__linear-chart{
        margin-top: 63px;
    }

    .linear-chart-heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        color: #11142D;
        font-size: 15.8946px;
        font-weight: 500;
    }

    .linear-chart-heading__settings{
        transition: opacity 0.2s;
    }

    .linear-chart-heading__settings:hover{
        opacity: 0.7;
    }

    #linear-chart{
        margin-left: -7px;
    }

/*Right content section*/
    .content--right-block{
        flex-grow: 1;
        margin: 0; /*Обнуляем верхний отступ из нормалайз css так как секции в горизонтали*/
        margin-left: 50px;
    }

/*Data blocks*/
    .data-blocks{
        display: flex;
    }

    .data-content-block{
        flex-grow: 1;
        padding: 40px;
    }

    .data-content-block:nth-child(2){
        margin: 0 25px;
    }

    .data-content-block__title{
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        color: #808191;
        font-size: 15px;
        line-height: 26px;
    }

    .data-content-block__title img{
        margin-right: 8px;
    }

/*Progress*/
    .progress__number{
        margin-bottom: 8px;

        font-weight: 300;
        font-size: 49.9543px;
        line-height: 75px;
    }

    .progress__bar{
        width: 163.49px;
        height: 5.68px;
        background: #E6ECF2;
        border-radius: 6.81195px;
    }

    .progress__complete{
        height: 5.68px;
        background: #1F95EE;
        border-radius: 6.81195px;
    }

    .progress__complete--first{
        width: 5px;
    }

    .progress__complete--second{
        width: 25px;
    }

/*Team block*/
.team-block{
    flex-grow: 1;
}

.team-block__info{
    display: flex;
}

.team-block__logo{
    margin-right: 15px;
}

.team-block__team-name{
    font-weight: 500;
    font-size: 22.7065px;
    line-height: 33px;
    letter-spacing: -0.607298px;
}

.team-block__members{
    font-size: 17.0299px;
    line-height: 27px;
    letter-spacing: -0.607298px;
    color: #8F92A1;
}

.team-block__actions{
    display: flex;
    align-self: center;
    margin-left: auto;
}

.team-block__actions:hover > .actions__dot{
    background-color: #a6acb1;
}

.actions__dot{
    width: 5px;
    height: 5px;
    margin: 3px;
    border-radius: 50%;
    background-color: #D9E0E8;

    transition: 0.2s;
}

.team-block__photo-list{
    display: flex;
    margin-top: 40px;
}

.team__photo img{
    width: 36px;
    height: 36px;
    margin-right: 15px;
    border-radius: 50%;
}
/*Bar chart*/
.bar-chart{
    position: relative;
    height: 460px;
    padding: 60px;
    margin-top: 25px;
}