@import "fonts.scss";
@import "nav.scss";
@import "footer.scss";
body {
    font-family: 'grotesque-regular';
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 854px;
    margin: 0 auto;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 52px;
    &__img {
        width: 100%;
        height: 0;
        padding-top: calc(900/1440 * 100%);
        background-color: #FFD900;
        background-image: url(../img/articles.svg);
        background-size: cover;
    }
    &__title {
        padding: 0 20px;
        color: #000000;
        font-size: 54px;
        font-family: "Mackay";
    }
    &__desc {
        max-width: 70%;
        padding: 32px 0 52px;
        font-size: 20px;
        font-family: monospace;
    }
}

.main {
    max-width: 640px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 25px 0 35px;
    border-top: 2px solid #000;
    &__title {
        margin: 64px 0 39px 0;
        font-family: 'Mackay';
    }
}

.article {
    &__header {
        display: flex;
        margin-bottom: 53px;
    }
    p {
        margin-top: 50px;
        font-size: 20px;
    }
    h2 {
        margin-top: 57px;
        font-size: 32px;
        font-family: 'grotesque-medium';
    }
    &__figure {
        margin: 52px 0;
        position: relative;
        left: -60px;
        width: calc(100% + 120px);
    }
    &__img {
        width: 100%;
        margin-bottom: 12px;
    }
    &__figcaption {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        font-family: 'grotesque-medium';
    }
    &__list {
        margin-top: 20px;
        margin-bottom: 52px;
        list-style-image: url(../img/list_marker.svg);
        font-size: 20px;
        &-item {
            padding-left: 5px;
            margin-left: 16px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            span {
                //list marker vertical alignment hack
                position: relative;
                left: 0;
                bottom: -2px;
            }
        }
    }
}

.author {
    display: flex;
    align-items: center;
    &__img {
        width: 57px;
        height: 57px;
        border-radius: 50%;
        background-color: rgb(189, 189, 189);
        background-image: url('../img/author.jpg');
        background-position: center;
    }
    &__text {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
    }
    &__name {
        line-height: 16px;
        margin-bottom: 8px;
        font-family: grotesque-black;
        text-transform: uppercase;
    }
    &__time-data {
        line-height: 15px;
    }
}

.article-header__social {
    width: 140px;
    margin-left: auto;
}

.social {
    display: flex;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    &__btn {
        flex-grow: 1;
        padding: 12px 25px;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.2s linear;
        &:hover {
            background-color: rgb(224, 224, 224);
        }
        &:first-child {
            border-right: 1px solid #EAEAEA;
            .social__icon {
                background-image: url(../img/facebook.svg);
            }
        }
        &:last-child {
            .social__icon {
                background-image: url(../img/twitter.svg);
            }
        }
        &-content {
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                margin-left: 16px;
            }
        }
    }
    &__icon {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &_big {
        margin-top: 77px;
        .social__btn {
            padding: 20px 0;
        }
    }
}

@media (max-width: 680px) {
    .header {
        &__title {
            font-size: 40px;
        }
    }
}