.articles-list {
    display: grid;
    justify-content: center;
    margin-bottom: 115px;
    grid-template: auto / repeat(2, 304px);
    grid-gap: 65px 30px;
    &__article {
        & h4 {
            margin-top: 20px;
            text-align: center;
            color: black;
            font-family: 'grotesque-medium';
            font-size: 20px;
        }
    }
}