.footer {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 30px;
    text-align: center;
    color: white;
    background-color: #000;
    &__marquee {
        overflow: hidden;
        /* Запрещаем переносы слов */
        animation: marquee 25s linear infinite;
        white-space: nowrap;
        letter-spacing: 3px;
    }
    & span {
        margin-right: 10px;
        text-transform: uppercase;
        font-family: 'grotesque-regular';
        font-size: 20px;
    }
    & span:nth-child(2n) {
        font-family: 'grotesque-black';
    }
    &__logo {
        margin: 105px 0 30px;
    }
    &__desc {
        max-width: 60%;
        font-family: 'grotesque-regular';
    }
    .footer__links-list {
        margin: 35px 0 64px;
    }
}

.links-list {
    display: flex;
    &__item:not(:last-child) {
        margin-right: 27px;
    }
    &__link {
        display: flex;
        justify-content: center;
        text-decoration: underline;
        color: inherit;
        &:hover {
            color: rgb(218, 218, 218);
        }
    }
}

@keyframes marquee {
    from {
        transform: translate(100%, 0);
    }
    to {
        transform: translate(-100%, 0);
    }
}

@media (max-width: 550px) {
    .footer {
        &__logo {
            width: 236px;
        }
        &__desc {
            font-size: 13px;
        }
        &__credits {
            font-size: 12px;
        }
    }
}