.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* мб поменять на 100% */
    width: 130px;
    background-color: #0272FA;
}

.navigation__logo{
    margin: 110px 0;
}

.navigation__list-item{
    margin-bottom: 75px;
}

.navigation__link{
    display: inline-block;
}